<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array>
		<string>health-records</string>
	</array>
	<key>com.apple.developer.healthkit.background-delivery</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>$(APP_GROUP_XTOOLRUNNER)</string>
		<string>$(APP_GROUP_SIDESTORE)</string>
		<string>$(APP_GROUP_ALTSTORE)</string>
	</array>
	<key>get-task-allow</key>
	<true/>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER)</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).1</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).2</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).3</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).4</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).5</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).6</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).7</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).8</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).9</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).10</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).11</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).12</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).13</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).14</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).15</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).16</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).17</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).18</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).19</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).20</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).21</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).22</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).23</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).24</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).25</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).26</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).27</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).28</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).29</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).30</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).31</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).32</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).33</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).34</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).35</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).36</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).37</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).38</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).39</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).40</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).41</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).42</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).43</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).44</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).45</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).46</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).47</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).48</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).49</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).50</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).51</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).52</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).53</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).54</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).55</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).56</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).57</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).58</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).59</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).60</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).61</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).62</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).63</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).64</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).65</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).66</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).67</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).68</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).69</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).70</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).71</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).72</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).73</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).74</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).75</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).76</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).77</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).78</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).79</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).80</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).81</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).82</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).83</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).84</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).85</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).86</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).87</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).88</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).89</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).90</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).91</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).92</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).93</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).94</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).95</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).96</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).97</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).98</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).99</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).100</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).101</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).102</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).103</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).104</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).105</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).106</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).107</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).108</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).109</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).110</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).111</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).112</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).113</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).114</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).115</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).116</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).117</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).118</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).119</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).120</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).121</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).122</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).123</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).124</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).125</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).126</string>
		<string>$(AppIdentifierPrefix)$(LIVECONTAINER_KEYCHAIN_GROUP_IDENTIFIER).127</string>
	</array>
</dict>
</plist>
